.projectContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    position: relative;
    width: 300px; 
    height: 200px; 
    overflow: hidden;
    margin: auto;
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 81, 203, 0.7); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
    opacity: 1; 
    transition: opacity 0.3s ease;
}

.overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(154, 75, 5, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 1; 
    transition: opacity 0.3s ease; 
}

.overlay3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 158, 48, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 1; 
    transition: opacity 0.3s ease;
}

.overlay-text {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.project-card:hover .overlay1, 
.project-card:hover .overlay2, 
.project-card:hover .overlay3 {
    opacity: 0.7; 
}

.invisibleBox {
    margin-right: auto;
}