.heroKontakt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.kontakt-hero-container {
        // background-color: $coolOrange;
        display: flex;
        flex-direction: column;
        width: 100%;
        a {
            text-align: center;
            margin-bottom: 10px;
        }
        i {
            font-size: 40px;
        }
}

#contact-form {
    
    .form-control {
        background-color: #B5BD68;
        border-radius: 0px;
        border: none;
        border-bottom: 2px solid #162A51;
    }
  }

.custom-form {
    width: 100%;
    background-color: #B5BD68;
}

@media(min-width: 500px){
    // .custom-form {
    //     width: 400px;
    // }
}

@media(min-width: 500px){

}

@media(min-width: 768px){
    .heroKontakt {
        justify-content: space-between;
    }

    .kontakt-hero-container {
        width: 40%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #DE935E;
        margin: 0;
        padding: 0;

        a {
            position: relative;
            top: 150px;
            right: 70%;
            font-size: 50px;
        }
    }

    .custom-form {
        position: relative;
        right: 20%;
        width: 400px;
    }
}

@media(min-width: 1000px){
    .custom-form {
        position: relative;
        right: 30%;
        width: 400px;
    }
}