.heroOmMeg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.omMeg-hero-image-container {
    // background-color: $coolOrange;
    display: flex;
    flex-direction: column;
    a {
        text-align: center;
        margin-bottom: 10px;
    }
    i {
        font-size: 40px;
    }
}

.icons-container {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    justify-content: center;

}

.icons {
    width: 50px;
    margin: 10px;
}

@media(min-width: 500px){
    .custom-form {
        width: 400px;
    }
}

@media(min-width: 768px){
    .heroOmMeg {
        justify-content: space-between;
    }

    .omMeg-hero-image-container {
        width: 40%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #DE935E;

        a {
            position: relative;
            top: 150px;
            right: 70%;
            font-size: 50px;
        }
    }

}

@media(min-width: 1000px){
    .custom-form {
        position: relative;
        right: 30%;
        width: 400px;
    }
}